@using System.Collections.Generic
@model System.Collections.Generic.IList<MyAlcoholShelf.Web.Models.UserModel>

@{
    ViewBag.Title = "Test";
}

<h2>Home</h2>
<ul>
    @foreach (var user in Model)
    {
        <text>
        <li>
            @user.UserName
            <br />
            @user.Email
        </li>
        </text>
    }
</ul>

<bootstrap-alert class="alert-warning alert-dismissible fade in">
    <bootstrap-alert-close><span aria-hidden="true">×</span></bootstrap-alert-close>
    <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</bootstrap-alert>

<bootstrap-modal id="myModal" aria-labelledby="myModalLabel" size="sm">
    <bootstrap-modal-header>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Sample modal header</h4>
    </bootstrap-modal-header>
    <bootstrap-modal-body>
        Sample modal body
    </bootstrap-modal-body>
</bootstrap-modal>

<bootstrap-button type="button" class="btn btn-primary" bootstrap-toggle-modal="myModal">
    Open sample modal
</bootstrap-button>