<template>
  <require from="app/components/controls/form/textbox/textbox"></require>
  <require from="app/components/controls/form/submit-form-button/submit-form-button"></require>
  <require from="app/components/controls/form/bvf-textarea/bvf-textarea"></require>
  <require from="app/components/controls/http/datasource/data-source"></require>
  <require from="app/components/converters/json"></require>
  <require from="app/components/controls/form/mas-duration/mas-duration"></require>

  <data-source url="Recipe/GetAddEditModel"
               params.bind="{recipeId: id}"
               view-model.ref="recipeModel"
               auto-load="true"
               method="GET">
  </data-source>
  <form>
    <h4 class="modal-title">${$view.title}</h4>
    <pre text-content.two-way="recipeModel.data | json"></pre>
    <!--      <pre text-content.bind="model | json"></pre>-->
    <textbox field.bind="recipeModel.data.name"
             label="Nazwa przepisu"
             placeholder="Wpisz nazwę..."
             disabled.bind="id != null">
    </textbox>
    <bvf-textarea field.bind="recipeModel.data.recipe"
                  label="Przepis">
    </bvf-textarea>
    <mas-duration field.bind="recipeModel.data.preparationTime"
                  label="Czas leżakowania"></mas-duration>
    
    <submit-form-button data.bind="recipeModel.data"
                        url="Recipe/SaveRecipe"
                        text="Zapisz">
    </submit-form-button>
    <submit-form-button if.bind="id != null"
                        data.bind="recipeModel.data"
                        url="Recipe/SaveAsNewVersion"
                        text="Zapisz jako nową wersję">
    </submit-form-button>
  </form>
</template>