<template>
  <require from="app/components/controls/form/textbox/textbox"></require>
  <require from="app/components/controls/form/submit-form-button/submit-form-button"></require>
  <require from="app/components/controls/form/bvf-textarea/bvf-textarea"></require>
  <require from="app/components/controls/http/datasource/data-source"></require>
  <require from="app/components/converters/json"></require>
  <require from="app/components/controls/form/mas-duration/mas-duration"></require>

  <data-source url="Recipe/GetAddEditModel"
               params.bind="{recipeId: id}"
               view-model.ref="recipeModel"
               auto-load="true"
               method="GET">
  </data-source>
  <form>
    <h4>${$view.title} DUPA</h4>
    <pre text-content.two-way="recipeModel.data | json"></pre>
    <!--      <pre text-content.bind="model | json"></pre>-->
    <textbox field.bind="recipeModel.data.name"
             label="Recipe name"
             placeholder="Enter name">
    </textbox>
    <bvf-textarea field.bind="recipeModel.data.recipe"
                  label="Recipe">
    </bvf-textarea>
    <mas-duration></mas-duration>
    <submit-form-button data.bind="recipeModel.data"
                        url="Recipe/SaveRecipe"
                        text="SaveMock">
    </submit-form-button>
    <button type="button" class="btn btn-primary">Save</button>
  </form>
</template>